apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/mgs2bio/argocd-ci-config.git
    targetRevision: HEAD
    path: charts/webflux-demo
  destination: 
    server: https://kubernetes.default.svc
    namespace: app

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
